@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@300;400&family=Quicksand:wght@400;500&display=swap');
:root{
    --primary-font:'quicksand';
    --primary-color:black;
    --secondary-color:#F35244;
    --add-on-color:#FEC9A3;
}
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--primary-font) ;
}
.header{
    width:100%;
    height:12vh;
    padding:0 10%;
    background-color:black;
}
nav{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style:none;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px 10px 0;


}
nav ul a{
    text-decoration: none;
    color:var(--secondary-color);
    font-weight: bold;
}
nav ul li{
    margin:0 20px 10px 0;
}
.reg{
    border:2px solid black ;
    padding:10px;
    background:linear-gradient(45deg,var(--primary-color),var(--add-on-color)) ;
    box-shadow: 4px 2px 3px blueviolet;
    border-radius: 4px;
}



.main{
    width:100%;
    height: 600px;
    background-color: #ef6e62;
    
   
}
.main-one{
    max-width:600px;
    margin-top: 150px;
   
}
 h1{
    color:blue;
    font-size:3em;
    line-height:1.5em;
    margin-bottom: 1em;
    margin-top:500 px;
    padding:0 10px;
}
.main-one p{
    font-weight: bold;
    font-size:1.5em;
    margin-bottom: 3em;
    padding: 10px;
}
.main-one a{
    color:aqua;
    padding:7px;
    box-shadow: 4px 3px 3px blue ;
    text-decoration: none;
    border-radius: 7px;
    font-size: larger;
    font-weight: 200;
    text-transform: capitalize;
    background: linear-gradient(60deg,var(--primary-color),var(--secondary-color));
}
.main-two img{
 width:80%;
 background-color: blanchedalmond;
}

 .main{
 display: grid;
 grid-template-columns:repeat(auto-fit,minmax(200px,auto)) ;
align-items: center;
gap:5em;
}
